body{
	text-align: center;
	text-decoration: none;
	margin:0;
}
header{
	background-color: #f15b31;
	color:#ffffff;
	padding:30px 20px 30px 20px;
}

nav{
	background-color:#00a6b3;
	color:#ffffff;
	padding:20px 0 20px 0;

}

h1{
	font-family:"raleway", sans-serif;
	/*color:#0d2c40;*/
	letter-spacing:1px;
	font-weight:400;
	font-size:45px;
	margin:0;
}
a{
	font-family:raleway;
	color:#ffffff;
letter-spacing:1px;
font-weight:600;
font-size:18px;
text-decoration: none;
margin:0 20px 0 20px;
border-bottom: 2px solid transparent;
}
h2, h3{
font-family:raleway;
color:#0d2c40;
letter-spacing:1px;
font-weight:600;
font-size:20px;
border-bottom:2px solid transparent;
}
p{
	font-family: "droid serif", serif;
	line-height: 26px;
	font-size: 18px;

	border-width: 
	border: solid;
}

main{
	width:850px;
	margin: 35px auto;
}

img{
	margin:40px 8px 0 8px;
}
footer{
	padding:20px;
	background-color:#0d2c40;
	color:white;
	font-size:14px;
	letter-spacing:.08em;
	font-weight:500;
}
.copyright{
	font-family: raleway;
	float:left;
}
.message{
	font-family: raleway;
	float: right;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height:0;
	font-size:0;
}
.name{
	color: #f15b31;
	font-weight: 700;

}
a:hover{
	border-color:white;
}